<template name="home">
    <div class="masthead">
        <div class="container-non-responsive">
            <div class="row">
                <div class="col-xs-8">

                    <h1>Xem video và nghe nhạc, cùng nhau.</h1>
                    <p>Giúp trải nghiệm như tất cả mọi người đang ngồi trước màn hình....</p>

                </div>
                <div class="col-xs-4">
                    <ol class="list-unstyled list-buttons">
                        <li><a role="button" class="btn btn-primary btn-lg btn-block btn-create-room" href="{{pathFor 'addChannel'}}"><i class="fa fa-magic"></i>&nbsp;Tạo kênh</a></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</template>